html{
    height: 100%;
}
body {
    font-family: 'Barlow Semi Condensed', 'Arial Narrow', Arial, sans-serif;
    background: url(../img/Fotolia_73655966_Subscription_Monthly_M.jpg)#333 no-repeat;
    text-align: center;
    background-size: cover ;
    padding: 36px;
}

/* Page */
.hero-page {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    text-align: left;
    background: beige;
    margin: auto;

}

/* Image */
.hero-image {
    line-height: 0;
}
.hero-image img {
    max-width: 100%;
    height: auto;

}

/* Contenu */
.hero-contenu {
    
    padding: 36px;
    max-width: 50%;
    box-sizing: border-box;
    
}